# System files
.DS_Store
src/.DS_Store

# IDE files
.idea/
.idea/*

.vscode/
.vscode/*

# Stripe API (Composer dependencies)
src/components/Stripe/vendor/
src/components/Stripe/composer.json
src/components/Stripe/composer.lock

.env
/dotenv
