<!-- Questo file contiene l'implementazione del popup che consente di visualizzare
    le date presenti nel db relative ad un determinato viaggio.
-->

<div id="tripDates-ct" class="d-none">
    <i class="fa-solid fa-x" id="tripDates__closeBtn" style="color: #feffff;"></i>

</div>

<script type="text/javascript">

    function toggleDialog(){
        const dialog = document.getElementById("tripDates-ct");
        const closeBtn = document.getElementById("tripDates__closeBtn");
        dialog.classList.remove("d-none");
        dialog.classList.add("bg-blur");

        closeBtn.addEventListener('click', function(){
            dialog.classList.add("d-none");
            dialog.classList.remove("bg-blur");
        });
    }
</script>

<style>
    
    #tripDates-ct{
        width: 80vw;
        height: 80vh;
        transition: opacity 500ms;    
        background-color: green !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border: 1px solid red;
    }
    #tripDates__closeBtn{
        display: inline;
        position: relative;
        border: 1px solid red;
        padding: 10px;

        /* & rappresenta il genitore */
        &:hover{
            transform: scale(1.5);
            transition: transform 1s;
            cursor: pointer;
        }
    }
</style>