@import '../../assets/css/Global.css';
@import "../../components/footer/footer.css";
@import "../../components/topmenu/topmenu.css";
@import "../../components/login/login.css";
.container__support{
    background-image: url("../../assets/images/cosmo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 5%;
}
#text_container{
    width: 40vw;
}
.text_support{
    color: white;
    display: block;
    font-size: 1.2em;
    width: auto;
    text-align: center;
    padding-bottom: 3%;
    
}
.form_input{
    margin-bottom: 1%;
    height: 3rem;
    width: 40vw;
    border-radius: 7px;
    background-color: #212121;
    border: 1px solid white;
    color: white;
}
.form_input:focus{
    border: 2px solid blue;
    background-color: white;
    color:black
}

#mailtoemail{
    color: #ff0000;
}
#mailtoemail:hover{
    color: #1fe100;
}

