html, body {
margin: 0;
padding: 0;
}
body {
background-image: linear-gradient(75deg, rgb(14,11,19), rgb(82, 0, 124));
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
display: flex;
flex-wrap: wrap;
flex-direction: column;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}