@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&display=swap');
@import "CssReset.css";

body, html {
  font-family: "Exo 2", Inter, Lato, Orbitron, Arial;
}

/* Text Settings*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0.5em 0; /* Margine uniforme per tutte le intestazioni */
  line-height: 1.1; /* Line-height generale per migliorare la leggibilità */
}
h1 {
  font-size: 2.15rem;
  letter-spacing: -0.0625rem;
}

h2 {
  font-size: 1.875rem;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.0375rem;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.025rem;
}

h5 {
  font-size: 1.125rem;
  letter-spacing: -0.0125rem;
}

h6 {
  font-size: 1rem;
  letter-spacing: -0.00625rem;
}

b, strong, a {
  color: var(--accent);
}

a:visited {
  color: var(--secondaryColor)
}

small{
  font-size: 13px; 
}

body{
  color: var(--text);
}

:root{
  background: #170938;
  background-image: linear-gradient(75deg, rgb(14,11,19), rgb(82, 0, 124));    background-repeat: no-repeat;

    /* Colori */
  --bg: #060c21;
  --primaryColor: #e9ecfb ;
  --secondaryColor: #471a8e;
  --accent: #9529d7;
  --text: #e9ecfb;
}


/* Utilities - text */
.text-left { text-align:left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-capitalize { text-transform: capitalize; }

/* Utilities - text alignment*/
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

/* Utilities - Position */
.position-relative { position: relative; }
.position-absolute { position: absolute; }
.position-fixed { position: fixed; }
.position-sticky { position: sticky; }

/* Utilities - BoxModel*/
.d-block { display: block; }
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
.d-flex { 
  display: flex; 
  display: -webkit-flex;
}
.d-inline-flex { display: inline-flex; }
.d-none { display: none; }

/* Utilities - Margin, Padding */
.m-0 { margin: 0 !important; }
.p-0 { padding: 0 !important; }

/* Utilities - Flexbox */

/* Allineamento orizzontale */
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }
.justify-content-evenly { justify-content: space-evenly; }

/* Allineamento verticale */
.align-items-center { align-items: center; }
.align-items-baseline { align-items: baseline; }
.align-items-stretch { align-items: stretch; }
.align-items-start { align-items: start; }
.align-items-end { align-items: end; }


/* Direzione */
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }

.responsive {
  max-width: 100%;
  height: auto;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 10px;
  background-color: var(--accent);
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
}

button:hover, button:focus {
  background-color: var(--secondaryColor);
}