@import "Global.css";

img {
    width: 400px;
    height: 200px
}

body{
    background-color: var(--bg);
}

#hero {
    border: 1px solid green;
    margin: 0 30px;
}

#homeInfo{
    background-color: var(--secondaryColor);
    border-radius: 10px;
}