@import "Global.css";

#hero {
    margin: 0 100px;
    border-radius: 10px;
    flex-flow: nowrap;
    gap: 30px; /*spazio tra le colonne*/
}

#hero img {
    width: 100%;
    height: 300px;
}

#homeInfo{
    border-radius: 10px;
    border: 1px solid red;
}

.side {
    flex: 1;
}