@import 'Global.css';

html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(75deg, rgb(14,11,19), rgb(82, 0, 124));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#text_container{
    display: block;
    width: 40vw;
}
.text_support{
    color: white;
    display: block;
    font-size: 1.2em;
    width: auto;
    text-align: center;
    padding-bottom: 3%;
}
.form_input, textarea{
    display: block;
    margin-bottom: 1%;
    height: 2rem;
    width: 40rem;
    border-radius: 7px;
}
textarea{
    height: 7rem !important;
}
#mailtoemail{
    color: white;
}
#mailtoemail:hover{
    color: #1fe100;
}
main{
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80%;
}
