.btn{
    float: right;
    margin: 1rem;
    width: 5rem;
    height: 2rem;
}
#login{
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: small;
}
#login:hover{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-color: white !important;
}
#signup{
    border: 3px solid white;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: small;
}
#signup:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-color: black !important;
}
#sideMenuBtn{
    background-color: #1fe100;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
}
#topbar{
    display: block;
}