<footer>
  <div id="footer__container">
  <div class="footer__div_container d-flex justify-content-around align-items-center flex-wrap">
    <div class="footer__contenuto_container">
      <img class="footer__immagine_logo" src="assets/images/logo.png" alt="Logo" />
    </div>
    <div class="footer__contenuto_container">
      <ul>
        <li><a href="pages/homepage/homepage.php">Home</a></li>
        <li><a href="pages/aboutus/aboutus.php">About Us</a></li>
        <li><a href="pages/support/Supporto.php">Support</a></li>
        <li><a href="pages/spacehistory/NewSpace.php">Spatial History</a></li>
        <li><a href="pages/catalogue/catalogue.php">Catalogue</a></li>
      </ul>
    </div>
    <div class="footer__contenuto_container social d-inline-block">
      <p>Social</p>
      <ul>
        <li>
          <a href="https://www.facebook.com/login/?locale=it_IT" target="_blank">
            <i class="fa-brands fa-facebook-f fa-beat-fade fa-lg" style="color: #feffff;"></i>
          </a>
        </li>
        <li>
          <a href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiaXQifQ%3D%3D%22%7D&mx=2" target="_blank">
            <i class="fa-brands fa-twitter fa-beat-fade" style="color: #feffff;"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/accounts/login/" target="_blank"> 
            <i class="fa-brands fa-instagram fa-beat-fade fa-lg" style="color: #feffff;"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__div_container2 d-flex justify-content-center align-items-center">
    <p class="text-center">
      <small>
        Progetto di Tecnologie Web A.A.24/25 realizzato da: Alessio Leo, Emanuele
        Tocci, Claudia Montefusco, Rossella Pale
      </small>
    </p>
  </div>
</div>
</footer>
