@import "../../assets/css/Global.css";
main{
    height: 60vh;
    position: relative;
}
.input{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 50%;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    color: black;

}
label {
    margin-top: 0.2em;
    font-size: 0.7em;
    font-weight: 600;
    display: block;
}
.main_signup .input form{
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}
.main_signup .input form input{ 
    font-size: 0.9em;
    padding: 0.2em;
    border: solid grey;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
}
.main_signup .input form{
    padding:2em;
}
.main_signup .input h3{
    text-align: center;
}
#oggetto{
    grid-column: 1;
    margin-bottom: 4em;
}
