@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&display=swap");
@import "CssReset.css";

/* Font Settings */
body {
  font-family: "Exo 2", Inter, Lato, Orbitron, Arial;
  font-size: 16px;
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0.5em 0;
  line-height: 1.1;
}

h1 { font-size: 2.5rem; letter-spacing: -0.0625rem; }
h2 { font-size: 2rem; letter-spacing: -0.05rem; }
h3 { font-size: 1.75rem; letter-spacing: -0.0375rem; }
h4 { font-size: 1.5rem; letter-spacing: -0.025rem; }
h5 { font-size: 1.25rem; letter-spacing: -0.0125rem; }
h6 { font-size: 1.125rem; letter-spacing: -0.00625rem; }

p {
  font-size: 1rem;
  line-height: 1.6;
}

b, strong, a {
  color: var(--accent);
  font-weight: bold;
}

a:hover {
  color: var(--secondaryColor);
  text-decoration: underline;
}

a:visited {
  color: var(--tertiaryColor);
}

small {
  font-size: 0.875em;
  color: #666;
}

/* Root variables for colors and layout */
:root {
  background-color: black;
  --hero-height: calc(100vh - 70px);
  --primaryColor: #e9ecfb;
  --secondaryColor: #471a8e;
  --tertiaryColor: #F7E951;
  --accent: #9529d7;
  --text: #e9ecfb;
}

/* Responsive utilities */
.responsive { max-width: 100%; height: auto; }

img { width: 100%; height: 100%; object-fit: cover; }

/* Flexbox Utilities */
.d-flex { display: flex; }
.d-inline-flex { display: inline-flex; }
.d-grid { display: grid; }
.d-inline-grid { display: inline-grid; }
.d-none { display: none; }

/* Button styles */
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--accent);
  border-radius: 8px;
  border-style: none;
  color: var(--text);
  cursor: pointer;
  text-align: center;
  transition: color 100ms, transform 0.3s ease-out;
  font-weight: 600;
}

button:hover, button:focus {
  background-color: var(--secondaryColor);
  transform: scale(1.1);
}

/* Dropdown menu styles */
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  float: left;
}

.menu li a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: black;
  padding: 16px;
}

.menu li a:hover {
  font-weight: bold;
  background-color: var(--accent);
}

/* The dropdown container */
.dropdown {
  float: left;
}

.dropdown .dropbtn {
  color: black;
  font-size: 16px;
  padding: 14px 16px;
  background-color: inherit;
  border: none;
  outline: none;
  font-family: inherit;
}

.dropdown:hover .dropbtn {
  font-weight: bold;
  background-color: var(--tertiaryColor);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

th, td {
  padding: 7px;
  text-align: left;
}

th {
  font-weight: bold;
}