<!-- 
    Questo file contiene parte del contenuto della sezione <head> html, comune alla maggior parte dei file del progetto. 
    Includere il file in ogni sezione <head> mediante php
-->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Unisa, DIEM, Tecnologie Web, A.A. 2024-2025, gruppo 05">
<meta name="description" content="Explore our intergalactic travel site: an exclusive catalog of destinations and adventures among the stars, offering a unique experience in the cosmos">
<meta name="keywords" content="intergalactic travel, space tourism, space adventures, cosmic destinations, space exploration, star travel, interstellar journeys, space vacation, travel in space, futuristic travel">
<link rel="icon" href="assets/images/logo.png" type="image/png"><!--da modificare-->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">